@model IEnumerable<MyPark.Model.DataBase.Models.TipoVeiculo>

@using MyPark.Model.DataBase.Models

@{
    ViewBag.Title = "TipoVeiculo";
}

<h2>TipoVeiculo</h2>
<div id="tblTipoVeiculo">
    @Html.Partial("_TabelaTipoVeiculo", Model)
</div>


@Html.Partial("_AddTipoVeiculo", new TipoVeiculo()))

<div id="loadAjax" style="display:none;">
    <img src="~/Images/load.gif" height="50" width="50"/>
</div>